body,html{
    background-image: url(/for/images/cool.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100%;
}
.firstform{
    
    position: absolute;
    top:34%;
    left:40%;
   
}
#labelname{
    color: cyan;
    font-weight: bold;
    font-size: 23px;
    padding-right: 32px;
}
.nametest{
padding-bottom:2px;
}
.passwordtest{
    padding-bottom:2px;
}
#labelpassword{
    color: cyan;
    font-weight: bold;
    font-size: 23px;
    
   
}
.gendertest{
    padding-bottom:2px;
}
#labelmale{
    font-style: italic;
    font-size: 20px;
    color:red;
}
#labelfemale{
    color:red;
   font-style: italic;
    font-size: 20px;
}
.emailtest{
    padding-bottom: 2px;
}
#labelemail{
    color: cyan;
    font-weight: bold;
    font-size: 23px;
    padding-right: 32px;
}
#labelgender{
    color:cyan;font-weight: bold;
    font-size: 23px;
    padding-right: 32px;
}
#labelphone{
    color: cyan;
    font-weight: bold;
    font-size: 23px;
    
}
.phonetest{
    padding-bottom: 2px;
}
#codes{
  width: 45px;
}
#yournumber{
    width:119px;
}
#yourpassword{
    width: 165px;
}
#submibutton{
  
    color: cyan;
    font-weight: bold;
    font-size: 23px;
    background-color: purple;
    border-radius: 34px;
}